#MiddleBox .ViewTutees{
	width:208px;
	float:left;
}

#MiddleBox .TutorInput{
	width:208px;
	float:left;
}

#MiddleBox .TuteeList{
	width:416px;
	border:5px solid White;
	float:left;
}

fieldset{
	width:175px;
	float:left;
}

input[type=text]{
	width:170px;
	background-color:lightblue;
}
input[type=date]{
	width:125px;
	background-color:lightblue;
}

input[type=submit]{
	width:100px
}