body{
	background-color:CadetBlue;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

a:link{
		color:White;
	}
a:visited{
	color:Black;
}
a:hover{
	color:Grey;
}

.invalid{
	color:black;
	background-color:#B00000;
}

.background{
	width:800px;
	height:1200px;
	padding-top:10px;
	background-color:LightBlue;
}

.header{
	background-color:SteelBlue;
	width:742px;
	padding:4px;
	border:5px solid RoyalBlue;
	margin:20px auto 20px auto;
}

.TopLinkBar{
	background-color:SteelBlue;
	width:654px;
	padding:5px;
	border:1px solid RoyalBlue;
	margin:20px auto 20px auto;
}

#TopLinkBar .Link{
	background-color:CadetBlue;
}

.QuickLinks{
	background-color:SteelBlue;
	border:1px solid RoyalBlue;
	float:left;
	width:126px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:22px;
	margin-right:16px;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.MiddleBox{
	background-color:SteelBlue;
	border:1px solid RoyalBlue;
	float:left;
	width:416px;
	margin-left:16px;
	margin-right:16px;
}

#tutors, #tutors th, #tutors td{
	width:416px;
	border-collapse:collapse;
	border:1px solid black;
}

#tutors tr.alt td {
    background-color:CadetBlue;
}

.LoginNews{
	background-color:SteelBlue;
	border:1px solid RoyalBlue;
	float:left;
	width:126px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:16px;
	margin-right:22px;
}

#LoginNews .Login{
	border:1px solid RoyalBlue;
	/*float:left;*/
	width:126px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:16px;
	margin-right:22px;
}

fieldset{
	padding-top:5px;
	padding-bottom:5px;
}

input{
	width:90px;
	background-color:lightblue;
}

input[type=submit]{
	width:75px;
	float:right;
}

#LoginNews .News{
	border:1px solid RoyalBlue;
	/*float:left;*/
	width:126px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:16px;
	margin-right:22px;
}